<div class="flex justify-center">
  <div class="shadow-lg ring-2 ring-sky-200 bg-sky-100 rounded-md mx-2 w-[25rem]">
    <% if current_user.profile %>
      <div class="flex flex-row justify-center">
        <%=link_to edit_profile_path(@profile), class: "pt-5 pl-4 text-gray-400 hover:text-gray-500 text-sm" do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>

        <h1 class="font-light text-sky-600 text-xl mt-4 pl-1">プロフィール</h1>
      </div>

      <%= form_with model: [@other, @profile], url: other_path(current_user), local: true, class: "pb-6 text-gray-600" do |f| %>
        <div class="pt-2 form-group">
          <div class="pl-8">
            <i class="py-3 fa-sm fa-solid fa-user"></i>
            <%= f.label :name %>
          </div>

          <div class="text-xl flex justify-center">
            <%= @profile.name %>
          </div>
        </div>

        <div class="pt-2 form-group">
          <div class="pl-8">
            <i class="fa-solid fa-image"></i>
            <%= f.label :avatar %>
          </div>
          <div class="flex justify-center">
            <% if current_user.profile.avatar %>
              <%= image_tag current_user.profile.avatar.url, class: "pt-1", style: "width: 70px; height: 70px; object-fit: cover; border-radius: 50%;" %>
            <% else %>
              <%= image_tag @profile.avatar_url, class: "pt-1", style: "width: 70px; height: 70px; object-fit: cover; border-radius: 50%;" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="flex justify-center">
        <h1 class="font-light text-sky-600 text-xl mt-4 pl-1">プロフィール</h1>
      </div>

      <div class="pt-2 pb-4 text-gray-600 flex flex-col justify-center text-center">
        <p>このアカウントではプロフィールが作成できません。</p>
        <p>プロフィール機能を使用したい場合は、</p>
        <p>お手数ですが別のアカウントを新規登録してください。</p>
      </div>

      <div class="flex justify-center">
        <%= link_to "新規登録", new_user_path, class: "mb-4 btn bg-green-300 text-green-700 text-lg font-light hover:ring-2 ring-green-300 hover:bg-green-400" %>
      </div>
    <% end %>
  </div>
</div>
