<div class="bg-gray-50 mx-auto px-4 py-6 min-h-screen">
  <div class="flex justify-center">
    <div class="shadow-lg ring-2 ring-blue-200 bg-blue-50 rounded-md w-full md:w-5/6 lg:w-3/5 flex fustify-center items-center flex-col">
      <h1 class="font-light text-blue-500 text-3xl mt-8 text-center">パスワードリセット申請</h1>

      <%= form_with url: password_resets_path, class: "space-y-2 mt-8 mb-16 mx-16 w-3/4 md:w-3/5 lg:w-3/5" do |f| %>
        <div class="form-group">
          <div class="flex flex-row">
            <%= f.label :email, t('activerecord.attributes.user.email'), class: "text-blue-500" %>
            <div class="ml-1 text-red-600">*</div><br>
          </div>

          <%= f.email_field :email, class: "mt-1 py-2 w-full rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
        </div>

        <div class="flex justify-center items-center">
          <%= f.submit '申請', class: "btn bg-blue-200 text-blue-600 text-sm font-light mt-12 hover:ring-2 ring-blue-200 hover:bg-blue-300" %>
        </div>

        <div class="text-center">
          <%= link_to 'ログインページへ', login_path, class: "text-indigo-400 hover:text-indigo-600" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
