<div class="bg-gray-50 mx-auto px-4 py-6 min-h-screen">
  <div class="xl:flex flex-row justify-center">
    <div class="xl:pr-4">
      <!-- プロフィール -->
      <%= render 'profiles/show' %>

      <!-- カレンダー -->
      <%= render 'calendar', { lives: @lives } %>
    </div>

    <div class="xl:pl-4">
      <p class="pt-4 flex justify-center font-thin text-gray-400">----------------------------------------------</p>
      <div class="flex justify-center">
        <%= link_to 'お問い合わせ', 'https://x.com/_asa_asa_44', class: "rounded-md w-80 py-2 pl-3 text-gray-500 text-md font-light hover:bg-gray-200" %>
      </div>

      <div class="flex justify-center">
        <%= link_to 'プライバシーポリシー', privacy_path, class: "rounded-md w-80 py-2 pl-3 text-gray-500 text-md font-light hover:bg-gray-200" %>
      </div>

      <div class="flex justify-center">
        <%= link_to '利用規約', terms_path, class: "rounded-md w-80 py-2 pl-3 text-gray-500 text-md font-light hover:bg-gray-200" %>
      </div>

      <div class="flex justify-center">
        <%= link_to logout_path, data: { turbo_method: :delete }, class: "rounded-md w-80 py-2 pl-3 text-red-400 text-md font-light hover:bg-red-50" do %>
          ログアウト
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <% end %>
      </div>

      <div class="pt-2 flex justify-center">
        <p class="ml-4 text-sm text-gray-500">©︎ 2024 Live Planning Manager</p>
      </div>
    </div>
  </div>
</div>
