<div class="bg-gray-50 min-h-screen px-4">
  <h1 class="pt-8 text-2xl font-medium text-sky-500 text-center">Live Planning Manager</h1>

  <p class="text-md text-gray-500 text-center">ライブ持ち物準備サポートアプリ</p>

  <p class="mt-6 text-lg text-gray-600 text-center">
    Live Planning Managerは、ライブに行く際の持ち物リストの作成ができ、任意で投稿もできるアプリです。
  </p>

  <!-- 持ち物リストの使い方 -->
  <div class="mt-6 py-6 bg-teal-50 ring-1 ring-white rounded-md">
    <p class="text-2xl text-teal-800 text-center underline">⭐️持ち物リストの使い方⭐️</p>
    <div class="flex justify-center items-center">
      <div class="flex flex-col md:flex-row">
        <div class="flex flex-col">
          <div class="mockup-phone shadow-xl" style="transform: scale(0.8);">
            <div class="camera"></div>
            <div class="display">
              <%= image_tag 'top_live1.jpg', class: "artboard artboard-demo phone-1" %>
            </div>
          </div>
          <p class="text-xl text-gray-500 text-center">1. 行くライブを登録</p>
        </div>

        <div class="flex flex-col">
          <div class="mockup-phone shadow-xl" style="transform: scale(0.8);">
            <div class="camera"></div>
            <div class="display">
              <%= image_tag 'top_live2.jpg', class: "artboard artboard-demo phone-1" %>
            </div>
          </div>
          <p class="text-xl text-gray-500 text-center">2. 持ち物リストを作成, 使用📝</p>
        </div>
      </div>
    </div>
  </div>

  <!-- 投稿の仕方 -->
  <div class="mt-6 py-6 bg-amber-50 ring-1 ring-white rounded-md">
    <p class="text-2xl text-amber-800 text-center underline">⭐️投稿の仕方⭐️</p>
    <div class="flex justify-center items-center">
      <div class="flex flex-col md:flex-row">
        <div class="flex flex-col">
          <div class="mockup-phone shadow-xl" style="transform: scale(0.8);">
            <div class="camera"></div>
            <div class="display">
              <%= image_tag 'top_post1.jpg', class: "artboard artboard-demo phone-1" %>
            </div>
          </div>
          <p class="text-xl text-gray-500 text-center">1. 投稿するリストを選択後、</p>
          <p class="text-xl text-gray-500 text-center">右上の•••から</p>
          <p class="text-xl text-gray-500 text-center">「投稿する」ボタンをクリック</p>
        </div>

        <div class="flex flex-col">
          <div class="mockup-phone shadow-xl" style="transform: scale(0.8);">
            <div class="camera"></div>
            <div class="display">
              <%= image_tag 'top_post2.jpg', class: "artboard artboard-demo phone-1" %>
            </div>
          </div>
          <p class="text-xl text-gray-500 text-center">2. 任意でコメントと</p>
          <p class="text-xl text-gray-500 text-center">匿名化の選択をして投稿✨</p>
        </div>
      </div>
    </div>
  </div>

  <div class="py-20 flex flex-col justify-center items-center">
    <%= link_to "新規登録して始める", new_user_path, class: "rounded-3xl btn bg-green-200 text-green-600 text-lg font-light hover:ring-2 ring-green-200 hover:bg-green-300" %>
    <%= link_to "ログイン", login_path, class: "w-48 rounded-3xl btn bg-sky-100 text-sky-500 text-lg font-light hover:ring-2 ring-sky-100 hover:bg-sky-200" %>
  </div>
</div>
