<footer class="bg-blue-100 h-16">
  <% if current_user %>
    <div class="btm-nav bg-sky-200 text-sky-600">
      <%=link_to '#' do %>
        <i class="py-3 fa-lg fa-solid fa-scroll"></i>
        <p class="text-xs">みんなのリスト</p>
      <% end %>

      <%=link_to lives_path do %>
        <i class="py-3 fa-lg fa-solid fa-rectangle-list"></i>
        <p class="text-xs">リスト一覧</p>
      <% end %>

      <%=link_to '#' do %>
        <i class="py-3 fa-lg fa-solid fa-calendar-days"></i>
        <p class="text-xs">カレンダー</p>
      <% end %>

      <%=link_to '#' do %>
        <i class="py-3 fa-lg fa-solid fa-user"></i>
        <p class="text-xs">プロフィール</p>
      <% end %>
    </div>
  <% else %>
    <nav class="flex flex-wrap justify-center pt-5 ml-4 gap-x-4 md:justify-start md:gap-6">
      <%=link_to 'お問い合わせ', '#', class: "text-gray-500 transition duration-100 hover:text-indigo-300 active:text-indigo-500" %>
      <%=link_to 'プライバシーポリシー', '#', class: "text-gray-500 transition duration-100 hover:text-indigo-300 active:text-indigo-500" %>
      <%=link_to '利用規約', '#', class: "text-gray-500 transition duration-100 hover:text-indigo-300 active:text-indigo-500" %>
    </nav>
  <% end %>
</footer>
