<footer class="bg-blue-100 h-16">
  <% if current_user %>
    <div class="btm-nav">
      <%=link_to 'ホーム', lives_path, class: "bg-sky-200 text-sky-600" %>
      <%=link_to 'みんなのリスト', '#', class: "bg-sky-200 text-sky-600" %>
      <%=link_to 'その他', '#', class: "bg-sky-200 text-sky-600" %>
    </div>
  <% else %>
    <nav class="flex flex-wrap justify-center pt-5 ml-4 gap-x-4 md:justify-start md:gap-6">
      <%=link_to 'お問い合わせ', '#', class: "text-gray-500 transition duration-100 hover:text-indigo-300 active:text-indigo-500" %>
      <%=link_to 'プライバシーポリシー', '#', class: "text-gray-500 transition duration-100 hover:text-indigo-300 active:text-indigo-500" %>
      <%=link_to '利用規約', '#', class: "text-gray-500 transition duration-100 hover:text-indigo-300 active:text-indigo-500" %>
    </nav>
  <% end %>
</footer>
