<header class="navbar bg-blue-100">
  <!-- ロゴ -->
  <div class="flex-1">
    <%= link_to "ライブプラマ", root_path, class: "btn btn-ghost text-xl text-blue-600" %>
  </div>
  <!-- メニュー -->
  <!-- 画面が小さい時は表示、大きい時は非表示 -->
  <div class="lg:hidden">
    <div class="dropdown dropdown-bottom dropdown-end">
      <div tabindex="0" role="button" class="btn m-1 font-light text-xl text-gray-600 bg-yellow-100 hover:ring-2 ring-yellow-100 hover:bg-yellow-200">メニュー</div>
      <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-64">
        <% if current_user %>
          <li><%= link_to "プロフィール", '#', class: "text-gray-600 btn bg-red-300 text-xl font-light hover:ring-2 ring-red-300 hover:bg-red-400" %></li>
          <li><%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, class: "text-gray-600 btn bg-blue-300 text-xl font-light hover:ring-2 ring-blue-300 hover:bg-blue-400" %></li>
        <% else %>
          <li><%= link_to "みんなの持ち物リスト", '#', class: "text-gray-600 btn bg-red-300 text-xl font-light hover:ring-2 ring-red-300 hover:bg-red-400" %></li>
          <li><%= link_to "ログイン", login_path, class: "text-gray-600 btn bg-blue-300 text-xl font-light hover:ring-2 ring-blue-300 hover:bg-blue-400" %></li>
          <li><%= link_to "新規登録", new_user_path, class: "text-gray-600 btn bg-green-400 text-xl font-light hover:ring-2 ring-green-400 hover:bg-green-500" %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <!-- 画面が大きい時は表示、小さい時は非表示 -->
  <div class="hidden lg:flex lg:flex-none items-center m-1">
    <% if current_user %>
      <%= link_to "プロフィール", '#', class: "text-gray-600 btn bg-red-300 text-xl font-light hover:ring-2 ring-red-300 hover:bg-red-400" %>
      <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, class: "text-gray-600 btn bg-blue-300 text-xl font-light hover:ring-2 ring-blue-300 hover:bg-blue-400" %>
    <% else %>
      <%= link_to "みんなの持ち物リスト", '#', class: "text-gray-600 btn bg-red-300 text-xl font-light hover:ring-2 ring-red-300 hover:bg-red-400" %>
      <%= link_to "ログイン", login_path, class: "text-gray-600 btn bg-blue-300 text-xl font-light hover:ring-2 ring-blue-300 hover:bg-blue-400" %>
      <%= link_to "新規登録", new_user_path, class: "text-gray-600 btn bg-green-400 text-xl font-light hover:ring-2 ring-green-400 hover:bg-green-500" %>
    <% end %>
  </div>
</header>
