<header class="navbar bg-sky-100">
  <!-- ロゴ -->
  <% if current_user %>
    <div class="flex-1">
      <%= link_to "LivePlaMa", lives_path, class: "btn btn-ghost text-xl text-sky-500" %>
    </div>
  <% else %>
    <div class="flex-1">
      <%= link_to "LivePlaMa", root_path, class: "btn btn-ghost text-xl text-sky-500" %>
    </div>
  <% end %>

  <!-- メニュー -->
  <% if current_user %>
    <%= link_to 'ライブ登録', new_life_path, class: "btn bg-teal-100 text-teal-500 text-xl font-light hover:ring-2 ring-teal-100 hover:bg-teal-200" %>
    <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, class: "text-gray-600 btn bg-neutral-200 text-neutral-500 text-xl font-light hover:ring-2 ring-neutral-200 hover:bg-neutral-300" %>
  <% else %>
    <!-- 画面が小さい時は表示、大きい時は非表示 -->
    <div class="lg:hidden">
      <div class="dropdown dropdown-bottom dropdown-end">
        <div tabindex="0" role="button" class="btn m-1 font-light text-xl bg-yellow-100 text-yellow-700 hover:ring-2 ring-yellow-100 hover:bg-yellow-200">メニュー</div>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-64">
          <li><%= link_to "みんなのリスト", '#', class: "btn bg-amber-200 text-amber-600 text-xl font-light hover:ring-2 ring-amber-200 hover:bg-amber-300" %></li>
          <li><%= link_to "ログイン", login_path, class: "btn bg-sky-200 text-sky-600 text-xl font-light hover:ring-2 ring-sky-200 hover:bg-sky-300" %></li>
          <li><%= link_to "新規登録", new_user_path, class: "btn bg-green-300 text-green-700 text-xl font-light hover:ring-2 ring-green-300 hover:bg-green-400" %></li>
        </ul>
      </div>
    </div>

    <!-- 画面が大きい時は表示、小さい時は非表示 -->
    <div class="hidden lg:flex lg:flex-none items-center m-1">
      <%= link_to "みんなのリスト", '#', class: "btn bg-amber-200 text-amber-600 text-xl font-light hover:ring-2 ring-amber-200 hover:bg-amber-300" %>
      <%= link_to "ログイン", login_path, class: "btn bg-sky-200 text-sky-600 text-xl font-light hover:ring-2 ring-sky-200 hover:bg-sky-300" %>
      <%= link_to "新規登録", new_user_path, class: "btn bg-green-300 text-green-700 text-xl font-light hover:ring-2 ring-green-300 hover:bg-green-400" %>
    </div>
  <% end %>
</header>
