<%= form_with model: @post, url: life_post_path, local: true, class: "w-96" do |f| %>
  <div class="flex felx-col">
    <div class="mt-6">
      <% if @post.is_anonymous? %>
        <%= image_tag 'logo.png', style: "width: 30px; height: 30px; object-fit: cover; border-radius: 50%;" %>
      <% else %>
        <% if current_user.profile.avatar %>
          <%= image_tag current_user.profile.avatar.url, style: "width: 40px; height: 40px; object-fit: cover; border-radius: 50%;" %>
        <% else %>
          <%= image_tag @profile.avatar_url, style: "width: 40px; height: 40px; object-fit: cover; border-radius: 50%;" %>
        <% end %>
      <% end %>
    </div>

    <div class="ml-4 mt-7">
      <% if @post.is_anonymous? %>
        匿名 さん
      <% else %>
        <div class="mt-1">
          <%= @profile.name %> さん
        </div>
      <% end %>
    </div>
  </div>

  <% if @post.comment.present? %>
    <div class="mx-4 mb-4 form-group">
      <div class="mt-4 text-amber-500">
        <%= f.label :comment %>
      </div>

      <div class="text-gray-600 w-full">
        <%= @post.comment %>
      </div>
    </div>
  <% end %>
<% end %>
