<%= turbo_frame_tag live do %>
  <%= form_with model: @live, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="text-2xl my-6 ml-6 mr-14">
      <%= f.text_field :title, class: "w-full rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    </div>

    <div class="w-96 m-6">
      <div class="text-teal-600">
        <%= f.label :place, t('activerecord.attributes.live.place') %><br>
      </div>

      <div class="text-xl">
        <%= f.text_field :place, class: "mb-2 py-2 w-full rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
      </div>

      <div class="my-2">
        <div class="text-teal-600">
          <%= f.label :date, t('activerecord.attributes.live.date') %><br>
        </div>

        <div class="text-xl">
          <%= f.date_field :date, class: "mb-2 py-2 w-full sm:w-auto rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
        </div>
      </div>

      <div class="flex flex-row">
        <div class="form-group flex-auto w-24">
          <div class="text-teal-600">
            <%= f.label :open_time %>
          </div>

          <div class="text-xl">
            <%= f.time_field :open_time, class: "rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
          </div>
        </div>

        <div class="form-group flex-auto w-24">
          <div class="text-teal-600">
            <%= f.label :start_time %>
          </div>

          <div class="text-xl">
            <%= f.time_field :start_time, class: "rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
          </div>
        </div>

        <div class="form-group flex-auto w-24">
          <div class="mb-2">
            <div class="text-amber-600">
              <%= f.label :departure_time %>
            </div>

            <div class="text-xl">
              <%= f.time_field :departure_time, class: "rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
            </div>
          </div>
        </div>
      </div>

      <div class="flex justify-center items-center">
        <%= f.submit '更新', class: "btn bg-amber-300 text-amber-700 text-xl font-light mt-6 hover:ring-2 ring-amber-300 hover:bg-amber-400" %>
      </div>
    </div>
  <% end %>
<% end %>
