<%= turbo_frame_tag live do %>
  <%= form_with model: @live, local: true, class: "my-4 w-[30rem]" do |f| %>
    <div class="mx-8">
      <%= render 'shared/error_messages', object: f.object %>
    </div>

    <div class="mx-8 mt-4">
      <%= f.label :title, class: "text-teal-600" %><br>
    </div>
    <div class="mx-8 mb-4 flex justify-center">
      <%= f.text_field :title, class: "mb-2 py-2 w-full rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    </div>

    <div class="mx-8">
      <div class="text-teal-600">
        <%= f.label :place, t('activerecord.attributes.live.place') %><br>
      </div>

      <div class="text-2xl">
        <%= f.text_field :place, class: "mb-2 py-2 w-full rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
      </div>
    </div>

    <div class="font-light mx-8 my-2">
      <div class="text-teal-600">
        <%= f.label :date, t('activerecord.attributes.live.date') %><br>
      </div>

      <div class="text-2xl">
        <%= f.date_field :date, class: "mb-2 py-2 w-full sm:w-auto rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
      </div>
    </div>

    <div class="grip gap-x-3 flex flex-row mb-2">
      <div class="font-light ml-8">
        <div class="text-teal-600">
          <%= f.label :open_time %>
        </div>

        <div class="text-2xl">
          <%= f.time_field :open_time, class: "rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
        </div>
      </div>

      <div class="font-light ml-8">
        <div class="text-teal-600">
          <%= f.label :start_time %>
        </div>

        <div class="text-2xl">
          <%= f.time_field :start_time, class: "rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
        </div>
      </div>

      <div class="font-light ml-8 mb-2">
        <div class="text-amber-600">
          <%= f.label :departure_time %>
        </div>

        <div class="text-2xl">
          <%= f.time_field :departure_time, class: "rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
        </div>
      </div>
    </div>

    <div class="flex justify-center items-center">
      <%= f.submit '更新', class: "btn bg-green-300 text-green-700 text-xl font-light mt-12 hover:ring-2 ring-green-300 hover:bg-green-400" %>
    </div>
  <% end %>
<% end %>
