<%= form_with model: @live, local: true, class: "w-3/4 mt-2 mb-6 mx-6 md:w-3/5 lg:w-3/5" do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group my-1">
    <div class="flex flex-row text-teal-600">
      <i class="pt-3 pr-1 fa-sm fa-solid fa-feather-pointed"></i>
      <%= f.label :title, class: "pt-1 text-sm" %>
      <p class="ml-1 text-red-600">*</p>
    </div>

    <%= f.text_field :title, class: "text-gray-600 mb-1 py-1 w-full rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>

  <div class="form-group text-teal-600">
    <i class="fa-sm fa-solid fa-map-location-dot"></i>
    <%= f.label :place, class: "text-sm" %><br>
    <%= f.text_field :place, class: "text-gray-600 mb-1 py-1 w-full rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>

  <div class="form-group my-1 text-teal-600">
    <i class="fa-sm fa-regular fa-calendar"></i>
    <%= f.label :date, class: "text-sm" %><br>
    <%= f.date_field :date, class: "text-gray-600 mb-1 py-1 w-full sm:w-auto rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>

  <div class="flex flex-row text-teal-600">
    <div class="form-group w-full">
      <i class="fa-sm fa-regular fa-clock"></i>
      <%= f.label :open_time, class: "text-sm" %><br>
      <%= f.time_field :open_time, class: "text-gray-600 py-1 w-full sm:w-auto rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    </div>

    <div class="form-group w-full">
      <i class="fa-sm fa-regular fa-clock"></i>
      <%= f.label :start_time, class: "text-sm" %><br>
      <%= f.time_field :start_time, class: "text-gray-600 py-1 w-full sm:w-auto rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    </div>
  </div>

  <div class="form-group flex-auto w-full mt-2 text-amber-600">
    <i class="fa-sm fa-regular fa-calendar"></i>
    <%= f.label :departure_time, class: "text-sm" %><br>
    <%= f.datetime_field :departure_time, class: "text-gray-600 py-1 w-full sm:w-auto rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>


  <div class="flex justify-center items-center">
    <%= f.submit '登録', class: "mt-4 btn bg-green-300 text-green-700 text-sm font-light hover:ring-2 ring-green-300 hover:bg-green-400" %>
  </div>
<% end %>
