<% @lives.each do |live| %>
  <%= link_to life_path(live), class: "shadow-lg ring-2 ring-teal-100 bg-teal-50 rounded-md mb-8 mx-4 w-[25rem] h-42" do %>
    <%= form_with url: lives_path, local: true, class: "text-gray-600" do |f| %>
      <div class="text-xl flex justify-center mt-2 mx-6" style="word-break: break-all;">
        <%= truncate(live.title, length: 13) %>
      </div>

      <div class="mx-6" style="word-break: break-all;">
        <div class="text-teal-600">
          <i class="fa-sm fa-solid fa-map-location-dot"></i>
          <%= f.label :place, t('activerecord.attributes.live.place'), class: "text-sm" %><br>
        </div>

        <% if live.place.present? %>
          <div class="text-lg">
            <%= truncate(live.place, length: 13) %>
          </div>
        <% else %>
          <p class="text-lg text-gray-400">指定なし</p>
        <% end %>
      </div>

      <div class="font-light ml-6 my-1">
        <div class="text-teal-600">
          <i class="fa-sm fa-regular fa-calendar"></i>
          <%= f.label :date, t('activerecord.attributes.live.date'), class: "text-sm" %><br>
        </div>

        <% if live.date.present? %>
          <div class="text-lg">
            <%= live.date.strftime('%Y年%m月%d日') %>
          </div>
        <% else %>
          <p class="text-lg text-gray-400">指定なし</p>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
