<%= turbo_frame_tag live do %>
  <%= form_with model: @live, local: true, class: "text-gray-600" do |f| %>
    <div class="flex flex-row justify-center">
      <%=link_to edit_life_path(live), class: "pt-5 pl-4 text-gray-400 hover:text-gray-500 text-sm" do %>
        <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
      <div class="pl-2 pr-4 text-xl flex justify-center mt-4 mb-2" style="word-break: break-all;">
        <%= @live.title %>
      </div>
    </div>

    <% if @live.place.present? %>
      <div class="mx-8 xl:mx-12 mb-1" style="word-break: break-all;">
        <div class="text-teal-600">
          <i class="fa-sm fa-solid fa-map-location-dot"></i>
          <%= f.label :place, t('activerecord.attributes.live.place'), class: "text-sm" %><br>
        </div>

        <div class="text-lg">
          <%= @live.place %>
        </div>
      </div>
    <% end %>

    <% if @live.date.present? %>
      <div class="font-light ml-8 xl:ml-12 mb-1">
        <div class="text-teal-600">
          <i class="fa-sm fa-regular fa-calendar"></i>
          <%= f.label :date, t('activerecord.attributes.live.date'), class: "text-sm" %><br>
        </div>

        <div class="text-lg">
          <%= @live.date.strftime('%Y年%m月%d日') %>
        </div>
      </div>
    <% end %>

    <div class="space-x-12 flex flex-row mb-1">
      <% if @live.open_time.present? %>
        <div class="font-light ml-8 xl:ml-12">
          <div class="text-teal-600">
            <i class="fa-sm fa-regular fa-clock"></i>
            <%= f.label :open_time, class: "text-sm" %>
          </div>

          <div class="text-lg">
            <%= @live.open_time.strftime('%H時%M分') %>
          </div>
        </div>
      <% end %>

      <% if @live.start_time.present? %>
        <div class="font-light ml-8 xl:ml-12">
          <div class="text-teal-600">
            <i class="fa-sm fa-regular fa-clock"></i>
            <%= f.label :start_time, class: "text-sm" %>
          </div>

          <div class="text-lg">
            <%= @live.start_time.strftime('%H時%M分') %>
          </div>
        </div>
      <% end %>
    </div>

    <% if @live.departure_time.present? %>
      <div class="font-light ml-8 xl:ml-12 mb-1">
        <div class="text-amber-600">
          <i class="fa-sm fa-regular fa-calendar"></i>
          <%= f.label :departure_time, class: "text-sm" %>
        </div>

        <div class="text-lg">
          <%= @live.departure_time.strftime('%Y年%m月%d日%H時%M分') %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
