<div class="bg-sky-50 mx-auto px-4 py-16 min-h-screen">
  <div class="flex justify-center">
    <div class="shadow-lg bg-teal-50 rounded-md w-full md:w-5/6 lg:w-3/5">

      <%= form_with model: @live, local: true, class: "text-gray-600" do |f| %>
        <div class="text-3xl flex justify-center my-4">
          <%= @live.title %>
        </div>

        <div class="ml-8">
          <%= f.label :place, t('activerecord.attributes.live.place') %><br>
          <div class="text-2xl">
            <%= @live.place %>
          </div>
        </div>

        <div class="font-light ml-8 my-2">
          <%= f.label :date, t('activerecord.attributes.live.date') %><br>
          <div class="text-2xl">
            <%= @live.date %>
          </div>
        </div>

        <div class="flex flex-row mb-2">
          <div class="ml-8">
            <%= f.label :open_time %>
            <div class="text-2xl">
              <%= @live.open_time.strftime('%H時%M分') %>
            </div>
          </div>

          <div class="ml-8">
            <%= f.label :start_time %>
            <div class="text-2xl">
              <%= @live.start_time.strftime('%H時%M分') %>
            </div>
          </div>
        </div>

        <div class="ml-8 mb-2">
          <%= f.label :departure_time %>
          <div class="text-2xl">
            <%= @live.departure_time.strftime('%H時%M分') %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
