<div class="bg-indigo-50 mx-auto px-4 py-16 min-h-screen">
  <div class="flex justify-center">
    <div class="shadow-lg ring-2 ring-blue-100  bg-blue-50 rounded-md w-full md:w-5/6 lg:w-3/5 flex fustify-center items-center flex-col">
      <h1 class="font-light text-sky-600 text-3xl mt-8 text-center">ログイン</h1>

      <%= form_with url: login_path, local: true, class: "space-y-2 mt-8 mb-16 mx-16 w-3/4 md:w-3/5 lg:w-3/5" do |f| %>
        <div class="form-group">
          <div class="flex flex-row">
            <%= f.label :email, t('activerecord.attributes.user.email'), class: "text-sky-600" %>
            <div class="ml-1 text-red-600">*</div><br>
          </div>

          <%= f.text_field :email, class: "mt-1 py-2 w-full rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
        </div>

        <div class="form-group">
          <div class="flex flex-row">
            <%= f.label :password, t('activerecord.attributes.user.password'), class: "text-sky-600" %>
            <div class="ml-1 text-red-600">*</div><br>
          </div>

          <%= f.password_field :password, class: "mt-1 py-2 w-full rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
        </div>

        <div class="flex justify-center items-center">
          <%= f.submit 'ログイン', class: "text-gray-600 btn bg-green-300 text-green-700 text-xl font-light mt-12 hover:ring-2 ring-green-300 hover:bg-green-400" %>
        </div>

        <div class="text-center">
          <%= link_to '新規登録はこちら', new_user_path, class: "text-indigo-400 hover:text-indigo-600" %><br>
          <%= link_to 'パスワードをお忘れの方はこちら', new_password_reset_path, class: "text-indigo-400 hover:text-indigo-600" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
