<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns#">
    <meta property="og:url" content="https://liveplanningmanager.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Live Planning Manager">
    <meta property="og:description" content="Live Planning Managerは、ライブに行く際の持ち物リストの作成ができ、任意で投稿もできるアプリです。">
    <meta property="og:image" content="<%= asset_path('OGP.png') %>">

    <title>Live Planning Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link href="https://use.fontawesome.com/releases/v6.5.1/css/all.css" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/flash_messages' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
